<span [ngClass]="{
  'mx-[-0.15em] px-[0.15em] italic': detail().italic,
  'text-transparent': active(),
  'opacity-10': !active()
}"
      [attr.aria-hidden]="!active()"
      [attr.lang]="detail().language"
      class="
        bg-linear-to-br from-vanilla-extra-dark from-25% to-dark-void-dark
        to-75% bg-fixed bg-clip-text transition-[color] duration-700 ease-out
        dark:from-vanilla-light dark:to-snow
      "
>{{ detail().text }}</span>
@if (detail().endOfLine || detail().endOfSection) {
  <span [ngClass]="{'mt-16': detail().endOfSection}" class="block" aria-hidden="true"></span>
}
