<footer class="rounded-5xl bg-custom-light-dark-90">
  <div class="
    px-8 py-6
    md:not-short:flex md:not-short:items-center
  ">
    <div class="
      flex justify-center space-x-6
      md:not-short:order-2 md:not-short:ml-12
    ">
      <a href="mailto:mail@julian-scholz.dev" class="
        motion-safe:animate-bounce
      " aria-label="Mail">
        <fa-icon [icon]="faEnvelope" size="xl" class="text-custom-light-dark"></fa-icon>
      </a>
      @for (footerLink of sortedFooterLinkEntries; track footerLink) {
        <a
          [href]="footerLink.url" target="_blank" [attr.aria-label]="footerLink.name">
          <fa-icon [icon]="footerLink.iconDefinition" size="xl" class="
            text-custom-light-dark
          "></fa-icon>
        </a>
      }
    </div>
    <div class="
      mt-6 flex flex-col text-center text-xs/5
      md:not-short:order-1 md:not-short:mt-0
    ">
      <button (click)="openInspirationsModal()">&copy; {{ currentYear }} Julian Scholz, Alle Rechte vorbehalten.
      </button>
      <div class="flex justify-evenly">
        <button (click)="openLegalNoticeModal()">Impressum</button>
        <button (click)="openPrivacyPolicyModal()">Datenschutzerklärung</button>
      </div>
    </div>
  </div>
</footer>
