@if (shownTemplate) {
  <dialog #dialog aria-labelledby="modal-title" (close)="removeModal()"
          class="
            size-full max-h-none max-w-none bg-transparent text-inherit
            backdrop:bg-transparent
          ">
    <div class="
      fixed inset-0 z-60 bg-dark-void/80
      dark:bg-dark-void-light/80
    "
         aria-hidden="true"></div>
    <div class="fixed inset-0 z-61 w-lvw overflow-y-auto">
      <div class="flex min-h-full items-center justify-center p-5">
        <div
          class="
            relative overflow-hidden rounded-4xl bg-custom-light-dark p-8
            sm:max-w-4xl
          ">
          <div class="text-right">
            <button type="button" class="
              inline-flex justify-end p-2
              hover:scale-110
            " i18n-aria-label="@@modalCloseLabel" aria-label="Modal schließen"
                    (click)="closeModal()">
              <fa-icon [icon]="faClose" size="xl" class="
                text-custom-light-dark
              "></fa-icon>
            </button>
          </div>
          <div class="mt-3">
            <h2 id="modal-title" class="text-center hyphens-auto">{{ titles[shownTemplate] }}</h2>
            <div class="mx-auto divider"></div>
            <div class="modal-body mt-2">
              @switch (shownTemplate) {
                @case ('inspirations') {
                  <ng-container [ngTemplateOutlet]="inspirations"/>
                }
                @case ('legalNotice') {
                  @if (isEnglish) {
                    <app-legal-notice-en/>
                  } @else {
                    <app-legal-notice-de/>
                  }
                }
                @case ('privacyPolicy') {
                  @if (isEnglish) {
                    <app-privacy-policy-en/>
                  } @else {
                    <app-privacy-policy-de/>
                  }
                }
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </dialog>
}

<ng-template #inspirations>
  <h3>Katy DeCorah</h3>
  <ul>
    <li>
      <a target="_blank" href="https://codepen.io/katydecorah/pen/nYLbEN">Navigation Bar by Jan Kaděra</a>
    </li>
  </ul>
  <h3>Jhey</h3>
  <ul>
    <li>
      <a target="_blank" href="https://codepen.io/jh3y/pen/XWGrGJL">Clipped Concentric Circle Text w/ GSAP</a>
    </li>
    <li>
      <a target="_blank" href="https://codepen.io/jh3y/pen/KKYJzRK">CSS Scroll-driven CTA to Nav 🤙</a>
    </li>
    <li>
      <a target="_blank" href="https://codepen.io/jh3y/pen/ZEZoXOV">Eclipsing View Transition</a>
    </li>
    <li>
      <a target="_blank" href="https://codepen.io/jh3y/pen/RwOeVqb">Pixel Per Character Scroll Words with CSS/GSAP</a>
    </li>
    <li>
      <a target="_blank" href="https://codepen.io/jh3y/pen/qBgRLxb">Scroll Triggered Highlights w/ CSS Scroll Driven
        Animations</a>
    </li>
  </ul>
  <h3>AmirthaShankari</h3>
  <ul>
    <li>
      <a target="_blank" href="https://codepen.io/AmirthaShankari/pen/eYpmjmx">Toggle Theme</a>
    </li>
  </ul>
  <h3>Jared Crowe</h3>
  <ul>
    <li>
      <a target="_blank" href="https://codepen.io/jaredc/pen/npmzOY">3D Book</a>
    </li>
  </ul>
  <h3>GSAP</h3>
  <ul>
    <li>
      <a target="_blank" href="https://codepen.io/GreenSock/pen/YzbPYMx">ScrollTrigger Image Zoom</a>
    </li>
  </ul>
  <h3>Adobe Stock</h3>
  <p i18n="@@inspirationsAdobeStock">Die verwendeten Grafiken wurden mit <a target="_blank" href="https://stock.adobe.com/">Adobe Stock</a> lizensiert.
  </p>
</ng-template>

