<h3>Contact</h3>
<p>Julian Scholz<br/>
  Stadtweg 35a<br/>
  49086 Osnabr&uuml;ck<br/>
  Germany</p>
<p>Phone: +491604545757<br/>
  Email: mail&#64;julian-scholz.dev</p>
<h3>Responsible for the content</h3>
<p>Julian Scholz<br/>
  Stadtweg 35a<br/>
  49086 Osnabr&uuml;ck<br/>
  Germany</p>
<p>Phone: +491604545757<br/>
  Email: mail&#64;julian-scholz.dev</p>
<br/>
<p class="text-right text-sm italic">Source: <a href="https://www.e-recht24.de" target="_blank">eRecht24</a>
  (translated from the German version)</p>
