<a href="#main" i18n="@@skipLink" class="
  sr-only rounded-5xl bg-dark-void text-sm text-snow
  focus-visible:not-sr-only focus-visible:fixed focus-visible:top-4
  focus-visible:left-4 focus-visible:z-50 focus-visible:px-4 focus-visible:py-2
  dark:bg-dark-void-light
">Zum Inhalt springen</a>

<app-cursor-grid/>

<app-header/>

<app-navigation/>

<div class="py-5"></div>

<main id="main" tabindex="-1" class="outline-none">
  <app-about-me/>

  <app-book-recommendations [id]="navigationEntries.bookRecommendations.id"/>

  <app-vita [id]="navigationEntries.vita.id"/>

  <app-favorites [id]="navigationEntries.favorites.id"/>
</main>

<app-back-to-top-button/>

<ng-container #modalContainer/>
